<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>User Info</h1>
    <a href="/logout"><button>Logout</button></a>>
    <p>Display Name : <%= name %>
    </p>
    <p>Email : <%= mail %>
    </p>
    <p>Zimbra ID : <%= zimbraId %>
    </p>
    <p>SOAP URL : <%= soapUrl %>
    </p>
    <p>Public URL : <%= publicUrl %>
    </p>
    <p>Admin URL : <%= adminUrl %>
    </p>
</body>

</html>